html,body{
  height:100%;
  padding:0;
  margin:0;
}
.toast-group{
  width:100%;
  position:fixed;
  left:0;
  right:0;
  bottom:20px;
  text-align:center;
  height:40px;
  border:none;
}
.toast-group ul{
  display:inline-block;
  padding:0 10px; 
  color:#fff;
  list-style: none;
  margin: 0;
  padding: 0;
}
.toast-content{
  padding: 10px 30px;
  border-radius: 20px;
  background:rgba(0,0,0,0.5);
  display:inline-block;
  position:relative;
  top:200px;
  color:#fff;
}